header, section, nav, main, footer, aside {
    display: block;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    margin: 0px;
    background-color: #A7DED8;
}

header{
    background-color: #5DC1DE;
    & h1{
        margin: 0px;
        padding: 10px;
    }
}

.content{
    display: flex;
    justify-content: center;

    & .container{
        border: 2px solid black;
        margin: 0px 20px 0px 20px;

        & .field-container {
            width: 200px;
            height: 50px;
            margin: 0 auto;
            padding: 80px;
            border-radius: 10px;
            font-weight: bold;
            
            & label, & #pokemondId2{
                font-size: 14px;
                padding: 10px;
            }
        }
    }   

    & .container2{
        border: 2px solid black;
        margin: 0px 20px 0px 20px;

        & .field-container2 {
            width: 200px;
            height: 50px;
            margin: 0 auto;
            padding: 80px;
            border-radius: 10px;
            font-weight: bold;
            
            & label, & #pokemondId2{
                font-size: 14px;
                padding: 10px;
            }
        }
    } 

    & .content-pokedex{
        border: 2px solid black;

        & .field-content{
            width: 200px;
            height: 50px;
            margin: 0 auto;
            padding: 80px;
            border-radius: 10px;
            font-weight: bold;
            
            & label, & input{
                font-size: 14px;
                padding: 10px;
            }
        }

    }

}

.button, .button2 {
    background-color: grey;
    color: white;
    padding: 20px 30px;
    margin: 12px 8px;
    font-size: large;
    border-radius: 5px;
}

.pokemon-image {
    border: 2px solid white;
    padding: 10px;
    box-shadow: 0px 0px 20px 5px black;
    background-color: #5DDEA5;
    border-radius: 8px;
}

nav{
    padding: 10px;

    & ul{
        list-style: none;

        & li{
            display: inline-block;
            padding: 0px 20px 0 0;

            & a{
                text-decoration: none;
                color: white;
            }
        }
    }
}